<h1>ThingsToDo</h1>

<br><br><br>
<hr>
<h1>Modelos de la Aplicacion</h1>
<hr>
<p>Modelo User<br>
<%= link_to "User", users_path %></p>
<hr>
<p>Modelo Task<br>
<%= link_to "Task", tasks_path %></p>
<hr>
<p>Modelo Friend<br>
<%= link_to "Friend", friends_path %></p>
<hr>
